<!DOCTYPE html>
<html>
  <head>
    <title>Game Reviews</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <section id="main">
      <nav>
        <ul id="navbar-ul">
          <li class="options">Home</li>
          <li class="options">Reviews</li>
          <li class="options">Post</li>
        </ul>
      </nav>
      <div class="buttons">
        <a class="writeReviews" href="/write">Write Reviews</a> </br>
        <a class="readReviews" href="/reviews">Read Reviews</a>
      </div>
    </section>
  </body>
</html>


 