<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Review</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
  </head>
  <body>
    <section id="reviewForm">
    <div id="newReview">
      <h1>Write a new Review!</h1>
      <div id="formDiv">
        <form action="/submit" method="POST">
          <input type="text" name="gamename" placeholder="Enter Game's Name" />
          <textarea name="review" id="" cols="30" rows="10"></textarea>
          <input type="submit" value="Submit" id="submitBtn">
        </form>
      </div>
    </div>
    </section>
  </body>
</html>
